html,body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text],
input[type=password]{
    width: 300px;
    font-size: 20px;
    border: none;
    outline: none;
    margin: 4px 0;
    padding-left: 5px;
}
input::placeholder {
    color: #aaa;
}
hr {    
    width: 300px;
    border: 0.5px solid black;
    margin-bottom: 25px;
}   
.sbmBtn {
    width: 300px;
    height: 50px;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
}
.sbmBtn:hover {
    background-color: #ccc;
}

.check1 {
    font-size: 10px;
    color: #aaa;
    margin-right: 5px;
    margin-left: 115px;
}
.link {
    font-size: 15px;
    font-weight: bold;
}
