<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CHOICE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    <link rel="stylesheet" href="/static/css/join.css">-->
    <!--    <link rel="stylesheet" href="/static/css/reset.css">-->
    <link th:href="@{/css/choice.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">

    <script>
        function applyBlur() {
            var blurElements = document.querySelectorAll('.item');
            blurElements.forEach(function(element) {
                element.style.filter = 'blur(3px)';
            });
            var codeContainer = document.querySelector('.code.container');
            if (codeContainer.style.visibility === 'visible') {
                codeContainer.style.visibility = 'hidden';
            } else {
                codeContainer.style.visibility = 'visible';
            }
        }
    </script>

</head>
<body>
    <div class="choice container">
        <div class="item">홈페이지 만들기</div>
        <div class="item" onclick="applyBlur()">홈페이지 참가하기</div>
    </div>
    <div class="code container">
        <span>참가 코드를 입력하세요</span>
        <br>
        <input type="text" name="code"> 
    </div>
</body>
</html>