<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>JOIN</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/join.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <!-- <link th:href="@{/css/join.css}" rel="stylesheet" type="text/css"> -->
    <!-- <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css"> -->
</head>
<body>
    <form method="post" action="#">
        <input type="text" name="id" placeholder="아이디/id">
        <hr>
        <input type="text" name="pass" placeholder="비밀번호/password">
        <hr>
        <input type="text" name="chkpass" placeholder="비밀번호 확인/check password">
        <hr>
        <input type="text" name="email" placeholder="이메일/email">
        <hr>
        <button type="submit" class="sbmBtn">회원가입/Join</button>
    </form>
</body>
</html>