<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>3C</title> 
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--    <link rel="stylesheet" href="/static/css/join.css">-->
<!--    <link rel="stylesheet" href="/static/css/reset.css">-->
     <link th:href="@{/css/join.css}" rel="stylesheet" type="text/css">
     <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <form method="post" action="/login">
        <input type="text" name="memberId" placeholder="아이디/id">
        <hr>
        <input type="password" name="memberPass" placeholder="비밀번호/password">
        <hr>
        <button type="submit" class="sbmBtn">로그인/Login</button>
        <br>
        <span class="check1">회원가입을 안하셨다면?</span>
        <a href="join" class="link">회원가입</a>
    </form>
</body>
</html>